@CHARSET "UTF-8";

/* ----------------------------------------------------------------------------- */
/* ------------------ MENU Petits Jeux------------------------------------------------*/
/* ----------------------------------------------------------------------------- */


#menu_pj {
	margin: 		5px;
	margin-top: 	100px;
	font: 			67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:		14px;
	font-weight:	bold;
	height : 		500px;
	float : 		left; 
	text-align:		center;
	position: 		static;
}

#menu_pj img {
	height :		200px;
}

#menu_pj ul {
	list-style:		none;
}

#menu_pj li, #menu_pj li a /* Éléments des listes */      
{ 	
	background:			rgb(0,0,150);
    margin: 			5px;
    padding : 			0px;
    color : 			#fff; /* couleur du texte */
    text-align:			center;
	text-decoration : 	none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
    height:				30px;
    width: 				200px;   
    -webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .2);
	-moz-box-shadow: 	inset 0px 16px 0px 0px rgba(255, 255, 255, .2);
	box-shadow: 		inset 0px 16px 0px 0px rgba(255, 255, 255, .2);
    -ms-transform: 		skewX(170deg); /* IE 9 */
    -webkit-transform: 	skewX(170deg); /* Chrome, Safari, Opera */
    transform: 			skewX(170deg);
}

/* ----------------------------------------------------------------------------- */
/* ------------------ PAGE Petits Jeux------------------------------------------------*/
/* ----------------------------------------------------------------------------- */

body {
	background-position:center center;
	color: 				white;
	background-color: 	black;
}

h1 {
	margin-left : 		auto;
	margin-top: 		10px;
	font: 				67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:			26px;
	font-style: 		italic;
	color: 				white;
}