@CHARSET "UTF-8";


/* ----------------------------------------------------------------------------- */
/* ------------------ MENU HEROES------------------------------------------------*/
/* ----------------------------------------------------------------------------- */


#menu_hots {
	margin: 		5px;
	margin-top: 	100px;
	font: 			67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:		14px;
	font-weight:	bold;
	height : 		500px;
	float : 		left; 
	text-align:		center;
/* 	border: 		1px solid yellow; */
	position: 		static;
}

#menu_hots img {
	height :		200px;
}

#menu_hots ul {
	list-style:		none;
}

#menu_hots li, #menu_hots li a /* Éléments des listes */      
{ 	
	background:			rgb(0,0,150);
    margin: 			5px;
    padding : 			0px;
    color : 			#fff; /* couleur du texte */
    text-align:			center;
	text-decoration : 	none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
    height:				30px;
    width: 				200px;   
    -webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .2);
	-moz-box-shadow: 	inset 0px 16px 0px 0px rgba(255, 255, 255, .2);
	box-shadow: 		inset 0px 16px 0px 0px rgba(255, 255, 255, .2);
    -ms-transform: 		skewX(170deg); /* IE 9 */
    -webkit-transform: 	skewX(170deg); /* Chrome, Safari, Opera */
    transform: 			skewX(170deg);
}

/* ----------------------------------------------------------------------------- */
/* ------------------ PAGE HEROES------------------------------------------------*/
/* ----------------------------------------------------------------------------- */

body {
	background-image: 	url(../img/hots/hots_bg.jpg);
	background-position:center center;
	color: 				white;
	background-color: 	black;
}

h1 {
	margin-left : 		auto;
	margin-top: 		10px;
	font: 				67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:			26px;
	font-style: 		italic;
	color: 				white;
}


#page {
	display:			flex;
}

#div_left {
	display:			inline-block;
	border-width :		1px ;
	border-style : 		simple; 
	border-color : 		yellow;
	height : 			750px;
	width :				552px;
	margin :			10px;
}

#heros_form {
	height : 			150px;
	width : 			550px;
/* 	border :			1px solid purple; */
	text-align:			center;	
}


#heros_form fieldset {
	border-left :		5px double rgb(0,0,150);
	border-top :		5px double rgb(0,0,150);
	border-right :		5px double rgb(50,0,100);
	border-bottom :		5px double rgb(50,0,100);
	height : 			40px;
	margin : 			5px;
	text-align : 		center;
	padding-top : 		2px;
	/*background-color : 	rgb(47,0,77);*/
	font-size: 			18px;	
}

#heros_portraits {
	display : 			inline-block;
	overflow :			auto;
	border-left :		5px double rgb(0,0,150);
	border-top :		5px double rgb(0,0,150);
	border-right :		5px double rgb(50,0,100);
	border-bottom :		5px double rgb(50,0,100);
	height : 			550px;
	width :				550px;
	margin-top :		10px;
	padding-top : 		10px;
	/*background-color : 	rgb(47,0,77);*/
	font-size: 			20px;	
	text-align:			center;
}

#heros_portraits img {
	height :			75px;
	width:				75px;
	opacity :			0.7;
	margin :			2px;
	border-width :		2px ;
	border-style : 		solid; 
	border-color : 		rgb(47,0,77);
}

#heros_portraits img:hover {
	opacity :			1;
	border-width :		2px ;
	border-style : 		inset; 
	border-color : 		rgb(255,255,255);
	
}

#div_right {
	display:			inline-block;
/* 	border-width :		1px ; */
/* 	border-style : 		double;  */
/* 	border-color : 		red; */
	height : 			750px;
	width :				510px;
	margin :			5px;	
/* 	background-color : 	rgb(47,0,77); */
}

#image_full div {
	display :			none;
	text-align:			center;
}

#image_full div span {
	display: 			inline-block;
	height :			55px;
	width :				450px;
	text-align:			center;
/* 	border-width :		1px ; */
/* 	border-style : 		double;  */
/* 	border-color : 		yellow; */
}

#image_full div p {
	height :			180px;
	text-align:			justify;
	border-width :		1px ;
	border-style : 		double; 
	border-color : 		yellow;
}

#image_full img{
	height : 			280px;
	width :				400px;
	border-left :		5px double rgb(0,0,150);
	border-top :		5px double rgb(0,0,150);
	border-right :		5px double rgb(50,0,100);
	border-bottom :		5px double rgb(50,0,100);
}

#image_full span img {
	height : 			75px;
	width :				75px;
	float:				right;
	border-style : 		none; 
}

#image_full label {
	font-family: 		Verdana, Helvetica, sans-serif;
	font-size:			18px;
	font-weight:		bold;
	text-decoration: 	underline;
	margin-top:			10px;
	float: 				left;
	
}
